* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    /* outline: 1px solid tomato; */
}

body{
    background-color: #14213d;
    padding: 40px;
}

.main-container{
    display: grid;
    justify-content: center;
    grid-template-areas: 
        "lista tarea"
        "lista etiqueta";
    gap: 20px;
    /* flex-direction: row; */
}

.lista-todo{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    grid-area: lista;
}

.create-todo{
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

.create-todo > button{
    width: 70px;
    height: 20px;
}

.todo{
    margin: 20px 10px;
    display: flex;
    /* justify-content: space-evenly; */
}

.select-etiqueta{
    width: 150px;
}

.select-etiqueta > option > span{
    width: 20px;
    height: 20px;
    background-color: aqua;
}

.color-circulo{
    width: 18px; 
    height: 18px;
    border-radius: 50px;
    margin-right: 10px;
}